<div class="bilan-mail">
    <h3 class="mail-title">Recevez une copie de votre simulation par mail</h3>

    <div class="mail-form">
        <form [formGroup]="formGroupEmail" class="form-email">
            <input type="text" name="email" id="email" class="email-input" formControlName="email" placeholder="Vore email" aria-describedby="Email">
            <button type="button" [class]="formGroupEmail.invalid ? 'email-btn' : 'email-btn email-valid'" (click)="onSubmit()" [disabled]="formGroupEmail.invalid">Envoyer</button>
        </form>
    </div>
</div>
