/* *** Import variables test *** */
@import "../../../../../styles/test-variables/test-variables";

.bilan-mail {
    padding: 40px 0 55px 0;
    background-color: $white;

    .mail-title {
        margin: 0 0 45px 0;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        color: $black;
    }

    .mail-form {
        width: 95%;
        max-width: 395px;
        margin: auto;

        .form-email {
            width: 100%;
            height: 50px;
            border: 1px solid $grey5;

            .email-input {
                width: 293px;
                height: 100%;
                max-height: 47px;
                padding: 14px;
                font-size: 14px;
                color: $grey;      
                border: 0;

				::-webkit-input-placeholder,
				::-moz-placeholder,
				:-ms-input-placeholder,
				:-moz-placeholder,
                &::placeholder {
                    font-style: italic;
                    color: $grey5;
                }

                &:focus {
                    border: 0;
                    outline: 0;
                }
            }

            .email-btn {
                width: 100px;
                height: 100%;
                padding: 14px;
                font-size: 14px;
                letter-spacing: 1px;
                color: $white;
                background-color: $grey5;
                border: 0;

                &.email-valid {
                    background-color: $blue;
                }
            }
        }
    }
}