/* *** Import variables test *** */
@import "../../../../../styles/test-variables/test-variables";

.bilan-complet {
    padding: 40px 0 35px 0;
    background-color: $mauve;

    .complet-title {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $white;
    }

    .complet-para {
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 26px;
        font-size: 14px;
        letter-spacing: 1px;  
        color: rgba($white, .6);
    }

    .complet-btn {
        display: block;
        margin: auto;
        padding: 20px 55px;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
        font-weight: 600;
        background-color: $white;
        color: $mauve;

        border: 0;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);
        -moz-box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);
        box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);

        &:hover {
            background-color: $mauve;
            color: $white;

            border: 1px solid $white;
            -webkit-box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);
            -moz-box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);
            box-shadow: 1px 1px 5px 0px rgba(142,142,142,1);
        }
    }
}