<div class="bilan-complet">
    <h2 class="complet-title">Vous souhaitez approfondir ce bilan avec un conseiller spécialisé ?</h2>

    <p class="complet-para">Vos coordonnées ne seront pas utilisés pour un autre usage.</p>
    
    <button class="complet-btn">Faire un bilan complet</button>
</div>