/* *** Import variables agems *** */
@import "../styles/test-variables/test-variables";

.container-app {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  background-color: $white;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(212,212,212,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(212,212,212,1);
  box-shadow: 3px 3px 5px 0px rgba(212,212,212,1);

  .app-header, .app-router {
    margin: 0;

    @media (max-width: 991.98px) { 
      margin: 0 0 10vw 0;
    }
  }
}