
<div class="container-app">
  <!-- <div class="app-header"><app-header></app-header></div> -->
  <div class="app-router"><router-outlet></router-outlet></div>
  <div class="app-footer"><app-footer></app-footer></div>
</div>