<div class="footer-menu">
  <div class="list-link">
    <a href="#" class="link-item first">CGV</a>
    <a href="#" class="link-item second">Mentions légales</a>
    <a href="#" class="link-item third">Lien</a>
    <a href="#" class="link-item fourth">A propos</a>
    <a href="#" class="link-item fifth">Lien</a>
  </div>
</div>
