/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

.footer-menu  {
  height: 95px;
  background-color: $black1;
  
  .list-link {
    display: flex;
    justify-items: center;
    width: 353px;
    margin: auto;
    padding: 25px 0 0 0;

    &::first-letter {
      text-transform: capitalize;
    }

    .link-item {
      flex: auto;
      font-family: "Avenir Medium", Roboto, "Helvetica Neue", sans-serif; 
      font-size: 10px;
      font-weight: lighter;
      letter-spacing: 1px;
      color: $white;
    }
  }
}