<div class="home-bilan">
    <div class="bilan assurance"><app-bilan-assurance></app-bilan-assurance></div>
    <div class="bilan complet"><app-bilan-complet></app-bilan-complet></div>
    <div class="bilan mail"><app-bilan-mail></app-bilan-mail></div>
</div>
