/* *** Import variables test *** */
@import "../../../../../styles/test-variables/test-variables";

.comp-assurance {
    padding: 62px 0 44px 0;
    background-color:  $blue;
    color: $white;

    .assurance-title {
        margin: 0 0 10px 0;
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 2px;    
    }

    .assurance-para {
        margin: 0 0 45px 0;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        letter-spacing: 1px;  
        color: rgba($white, .6);
    }

    .assurance-list {
        width: 95%;
        max-width: 555px;
        margin: auto;
        padding: 50px 0;
        background-color: $white;
        border-radius: 5px;

        .list-container {
            margin: 0;
            padding: 0;
            list-style: none;

            .list {
                display: grid;
                grid-template-columns: 1fr 100px 15px;
                align-items: center;

                width: 95%;
                max-width: 365px;
                height: 60px;
                margin: 15px auto;
                padding: 0 0 0 30px;
                border: 1px solid rgba($grey2, .8);
                border-radius: 3px;

                &:last-child {
                    margin: 0 auto;
                }

                .list-tile {
                    font-size: 13px;
                    font-weight: bolder;
                    color: $black;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                .list-stars {
                    .star {
                        position: relative;
                        
                        display: inline-block;
                        width: 0;
                        height: 0;
                        
                        margin-left: .9em;
                        margin-right: .9em;
                        margin-bottom: 1.2em;
                        
                        border-right:  .3em solid transparent;
                        border-bottom: .7em  solid rgba($grey2, 3);
                        border-left:   .3em solid transparent;
                      
                        /* Controlls the size of the stars. */
                        font-size: 6px;

                        /* Controlls the background-color of active stars */
                        &.active {
                            border-bottom: .7em  solid rgba($green, 1);

                            &:before, &:after {
                                border-bottom: .7em  solid rgba($green, 1);
                            }
                        }
                        
                        &:before, &:after {
                          content: '';
                          
                          display: block;
                          width: 0;
                          height: 0;
                          
                          position: absolute;
                          top: .6em;
                          left: -1em;
                        
                          border-right:  1em solid transparent;
                          border-bottom: .7em  solid rgba($grey2, .3);
                          border-left:   1em solid transparent;
                        
                          transform: rotate(-35deg);
                        }
                        
                        &:after {  
                          transform: rotate(35deg);
                        }
                    }
                }

                .list-delete {
                    position: relative;
                    top: -2px;
                    right: 25px;
                    width: 11px;
                    height: 11px;
                    opacity: .3;
                  
                    &:hover {
                        opacity: .7;
                    }

                    &::before, &::after {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 11px;
                        width: 3px;
                        background-color: #333;
                    }
                    &::before {
                        transform: rotate(45deg);
                    }
                    &::after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
