<div class="comp-assurance">
    <h1 class="assurance-title">Votre bilan assurance</h1>

    <p class="assurance-para">
        Vous trouverez ci-dessous un récapitulatif de votre bilan. Pour savoir sur quels<br>
        critères notre évaluation s'est portée, cliquez sur une des garanties.
    </p>

    <div class="assurance-list">
        <ul class="list-container">
            <li *ngFor="let listPhoto of listPhotos; let i = index" class="list">
                <span class="list-tile">{{ listPhoto.title.length > 30 ? listPhoto.title.slice(0, 30) + '...' : listPhoto.title }}</span>
                <span class="list-stars">
                    <span *ngFor="let j of nbStars" [class]="j <= arrModulo[i] ? 'star star' + j + ' active' : 'star star' + j"></span>
                </span>
                <span class="list-delete" (click)="deletePhoto(listPhoto.id, i)"
                      matTooltip="Supprimer un titre"
                      aria-label="Bouton qui supprime un titre">
                </span>
            </li>
        </ul>
    </div>

</div>
