/* You can add global styles to this file, and also import other style files */

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
/* *** Import variables agems *** */
@import './styles/material/material.scss';

// Fonts
@font-face {
  font-family: 'Avenir Book';
  src: url("assets/fonts/avenir/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: 'Avenir Medium';
  src: url("assets/fonts/avenir/AvenirLTStd-Medium.otf");
}
@font-face {
  font-family: 'Avenir Roman';
  src: url("assets/fonts/avenir/AvenirLTStd-Roman.otf");
}

body { 
  margin: 0; 
  padding: 0; 
  font-size: 12px;
  font-family: "Avenir Book", Roboto, "Helvetica Neue", sans-serif; 
  color: $black;
  background-color: $grey4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button:focus {outline:0;}
