@import '../material/material-theme';

// General colors
$black: #111;
$black1: #292929;

$white: #fafafa;

$blue: #1b5cc4;
$blue1: #3599cc;

$green: #2eb78f;

$mauve: #eb308b;

$grey: #474747;
$grey1: #8e8282;
$grey2: #b1b1b1;
$grey3: #f5f5f5;
$grey4: #e8e8e8;
$grey5: #eaecf1;
